[build]
command = "npm install"
publish = "."
base = ""
functions = "netlify/functions"
ignore = "npm run build"

[build.environment]
NODE_VERSION = "20.12.2"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/*"
[headers.values]
X-Content-Type-Options = "nosniff"
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
Referrer-Policy = "no-referrer"
